/********************************************
* Basic Parallax
********************************************/

.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}
.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.parallax__layer--base {
	transform: translateZ(0);
}
.parallax__layer--back {
	transform: translateZ(-1px) scale(2);
}



/********************************************
* Media Queries
********************************************/

/* Media query that adds a different background on larger screens (desktops, 992px and up) */

@media (max-width: 992px) {
	.media-icon {
		margin-left: auto;
		margin-right: auto;
		max-width: 50%;
		height: auto;
	}
}

@media (max-width: 992px) {
	.white-txt {
		color: whitesmoke;
	}
}



/********************************************
* Navbar Styles
********************************************/
body {
	background-color: rgb(0,0,0);
}

.navbar-home {
	background-color: rgba(0,0,0,.4);
}

.navbar-nav>li>a {
	color: rgb(250, 250, 250);
	font-family: "Ubuntu Mono", sans-serif;

}

li>a:hover {
	background-color: transparent !important;
}

a:hover {
	text-decoration: none;
}

.navbar-brand {
	color: rgb(250, 250, 250);
	font-family: "Ubuntu Mono", sans-serif;
}

.navbar-mobile {
	color: rgb(250, 250, 250);
	font-size: 1.5em;
}

/********************************************
* Home Page Styles
********************************************/

#headline {
	font-size: 60px;
	font-family: "Ubuntu Mono", sans-serif;
	color: rgb(250, 250, 250);
}

#head-column {
	margin-top: 30%;
	padding: 3%;
	background-color: rgba(0,0,0,.4);
}

.bk-white {
	background-color: whitesmoke;
}

.bk-white2:hover {
	background-color: rgba(245,245,245,.4);
}

.bk-black {
	background-color: rgba(0,0,0,.4);
}

.bk-home {
	background: url(../img/mountainnight.jpeg) no-repeat;
	background-size: cover;
}

.bk-cactus {
	background: url(../img/cactus.jpg) no-repeat;
	background-size: cover;
}

.bk-road {
	background: url(../img/road.jpg) no-repeat;
	background-size: cover;
}

.home-icon {
	color: rgb(250,250,250);
	font-size: 3em;
}

.logo-txt {
	color: white;
}

.txt-box {
	padding:3%;
}

.ctr-padding {
	padding: 5%;
}

.icon-size {
	margin-left: auto;
	margin-right: auto;
	max-width: 35%;
	height: auto;
}

.h-home {
	font-family: "Ubuntu Mono", sans-serif;
}

.h1-home {
	font-family: "Ubuntu Mono", sans-serif;
	color: rgb(250,250,250);
}

.p-home {
	font-family: "Raleway", sans-serif;
	font-size: 1.35em;
}

.img-swipebox {
	padding-top: 5%;
	padding-bottom: 5%;

}

.row-margin {
	margin-top: 7%;
}

.row-margin-lg {
	margin-top: 10%;
	margin-bottom: 10%;
}

.row-margin-btm {
	margin-top: 3%;
	margin-bottom: 13%;
}

.btn {
	background-color: whitesmoke;
	font-family: "Raleway", sans-serif;

}

input {
	background-color: whitesmoke;
}


/********************************************
* Footer Styles
********************************************/

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
	background-size: cover;
	padding-bottom: 100px;
}

footer {
	padding: 3.5%;
	background-color: black;

}

.social-media {
	margin: 7%;
	font-size: 3em;
	color: white;
}